[class*="list_bordered"] {
    @extend %space_v;
	margin-left: 0;

    > li {
        border-top: 1px solid color(function);
        @extend %pad_v;
		margin-top: -1px;
    }
//    > li:first-child {
//        border-top-color: transparent;
//    }
}

.list_bordered_short{
	> li {
        @include rems((padding-top, padding-bottom), ($base-line-height/2));
    }
}

.list_inline {
    @extend %space_reset;
	@extend %inline;

    > li {
        @extend %inline;
        padding-left: 0;
        width: auto;
        vertical-align: middle;
        @include type-space(padding-right, .25);

		&:last-child{
			padding-right: 0;
		}
	}

}

.list_inline_bordered{
	@extend %space_reset;

	>li{
		display: inline-block;
        width: auto;
        vertical-align: middle;
        @include rems((padding-right, padding-left), ($gutter/2));
		border-left: 1px solid;

		&:first-child{
			border-left-width: 0;
			padding-left: 0;
		}
	}
}

.breadcrumbs{
    @extend %pad_r_half;
	margin-bottom: 0;
	margin-left: 0;
	>li a{
		@extend %display_block;
	}
}
    .breadcrumb{
        @extend %inline;
        white-space: nowrap;
        @extend %pad_r_quarter;
    }
        .breadcrumb:after{
            content: "\25B8";
            display: inline-block;
        }
	.breadcrumb_last:after{
		display: none;
	}

.list_naked, %list_naked{
    @include no-bullets;
    margin-left: 0;
}

.list_space{
	>li{
		@include rems((padding-top, padding-bottom), ($base-line-height/2));
	}
}
.list_space_2{
	>li{
		@extend %pad_v;
	}
}
//Make links fill their list items for easier clickability.
.list_nav{

	>li a{
		@extend %display_block;
		text-decoration: none;
	}

	&.list_bordered > li{
		padding-top: 0;
		padding-bottom: 0;
	}

	&.list_inline > li{

		a{
			@include rems(padding-right, ($gutter/2));
		}
	}
}
.list_nav_space{
	@extend .list_nav;

	>li a{
		@include rems((padding-top, padding-bottom), ($base-line-height/2));
	}
}