.txt_left{
	text-align: left;
}
.txt_upper{
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
.txt_small{
	@extend small;
}
.txt_label{
	font-family: $primary-font-stack;
}
txt_serif{
	font-family: $secondary-font-stack;
}
.txt_truncate{
	@include rems(height, type-space(2));
	overflow: hidden;
	position: relative;
}
.txt_truncate:after{
	@extend %inline;
	content: "...";
	background-color: #fff;
	padding: 0 1em;
	position: absolute;
	right: 0;
	bottom: 0;
}